@model Health.Web.App.Models.HistoryAppointment

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HistoryAppointment</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DurationAppointmentMinutes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DurationAppointmentMinutes)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommentAppointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommentAppointment)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Appointment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Appointment.AccountDoctorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Patient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Patient.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HistoryAppointmentId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
